#include "Base/precomp.h"

#include "GameLogic/Imgui/ComponentInspector/ComponentWidgetsRegistration.h"

{imgui/component_inspector_window_includes}

namespace ComponentWidgetsRegistration
{{
	void RegisterInspectWidgets(std::map<StringID, std::unique_ptr<AbstractComponentImguiWidget>>& componentInspectWidgets)
	{{
		{imgui/component_inspector_window_register}
	}}
}}
