#include "GameLogic/ComponentsRegistration.h"

{component_includes}

namespace ComponentsRegistration
{{
	void RegisterComponents(ComponentFactory& componentFactory)
	{{
		{component_factory_register}
	}}
}}
