#pragma once

#include "ECS/Component.h"

{attribute_includes}

/**
 * {component_description}
 */
class {class_name} : public BaseComponent
{{
public:
	{attribute_getters}

	{attribute_getters_ref}

	{attribute_setters}

public:
	static StringID GetClassName() {{ return STR_TO_ID("{class_name}"); }}

	StringID getComponentTypeName() const override {{ return GetClassName(); }}

private:
	{attribute_fields}

	friend class {class_name}JsonSerializer;
	friend class {class_name}ImguiWidget;
}};
