#include "Base/precomp.h"

#include "GameData/ComponentRegistration/ComponentJsonSerializerRegistration.h"

{component_includes}

{component_json_serializer_includes}

namespace ComponentsRegistration
{{
	void RegisterJsonSerializers(JsonComponentSerializationHolder& jsonSerializerHolder)
	{{
		{component_json_serializer_register}
	}}
}}
