[submodule "editor/Qt-Advanced-Docking-System"]
	path = editor/Qt-Advanced-Docking-System
	url = git@github.com:gameraccoon/Qt-Advanced-Docking-System.git
[submodule "external/sources/imgui"]
	path = external/sources/imgui
	url = git@github.com:ocornut/imgui.git
