[submodule "editor/Qt-Advanced-Docking-System"]
	path = editor/Qt-Advanced-Docking-System
	url = git@github.com:gameraccoon/Qt-Advanced-Docking-System.git
[submodule "external/sources/recastnavigation"]
	path = external/sources/recastnavigation
	url = git@github.com:recastnavigation/recastnavigation.git
[submodule "external/sources/SDL_FontCache"]
	path = external/sources/SDL_FontCache
	url = https://github.com/grimfang4/SDL_FontCache.git
