# cmake files
CMakeCache.txt
CMakeFiles
cmake_install.cmake

# generated binaries
*.exe

# vs files
*.user
*.sdf
*.ilk
*.pdb
*.suo
*.opensdf
*.ipch
*.db
*.opendb
*.vcxproj.filters
*.vcxproj
*.sln

# other
*.log
log.txt
*_log.txt
.vs
*.obj
*.tlog
*.lib
*.cache
/x64
/Game.dir
