[submodule "editor/Qt-Advanced-Docking-System"]
	path = editor/Qt-Advanced-Docking-System
	url = git@github.com:gameraccoon/Qt-Advanced-Docking-System.git
[submodule "external/sources/recastnavigation"]
	path = external/sources/recastnavigation
	url = git@github.com:recastnavigation/recastnavigation.git
