#pragma once

#include "ECS/Component.h"

#include "ECS/Serialization/JsonComponentSerializer.h"

class {class_name}JsonSerializer : public JsonComponentSerializer
{{
public:
	void toJson(nlohmann::json& outJson, const BaseComponent* component) const override;
	void fromJson(const nlohmann::json& json, BaseComponent* outComponent) const override;
}};
