#pragma once

#include <string>
#include <vector>
#include <nlohmann/json.hpp>

template <typename T>
std::string enum_to_string(T value);

template <typename T>
T string_to_enum(const std::string& value);

template <typename T>
std::vector<T> get_all_enum_values();

template <typename T>
std::vector<std::string> get_all_enum_value_names();

enum class {enum_name}
{{
	{enum_value}
}};

NLOHMANN_JSON_SERIALIZE_ENUM({enum_name}, {{
	{enum_value_serialization}
}})
