{attribute_type} {class_name}::get{attribute_name_capital}() const
{{
	return m{attribute_name_capital};
}}

void {class_name}::set{attribute_name_capital}(const {attribute_type}& new{attribute_name_capital})
{{
	m{attribute_name_capital} = new{attribute_name_capital};
}}{delim_endl}{delim_endl}